/* ***** Importe de la fuente de letra ***** */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/* ***** Generales Inicio ***** */
body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5 {
    color: #FFA500; 
    margin: 0; /* Remove default margin for headings */
}


h1 {
    font-size: 45px;
    font-weight: bold;
    color: #8A70B0;
}
/* ***** Generales Fin ***** */


/* ***** Header Area Inicio ***** */
.header-area {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.93); /* Fondo negro translúcido */
    z-index: 999;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

.header-area .container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between; /* Para alinear el logo a la izquierda y el menú a la derecha */
    align-items: center;
    padding: 15px 0;
}

.logo img {
    max-width: 150px; 
    height: 60px; 
    display: block; /* Asegura que se muestre como bloque */
}


.nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; 
    padding: 0; 
}

.nav li {
    margin: 0 15px;
}

.nav li a {
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav li a:hover {
    color: #FFA500; 
}

.nav li a.active {
    color: #FFA500;
}


/* ***** Menu Responsive Inicio - Parte del Header area ***** */
.menu-trigger {
    display: none; /* Botón de menú oculto por defecto en pantallas grandes*/
}

@media (max-width: 992px) {
    .nav {
        display: inline-flex;
        float: inline-end;
        position: absolute;
        padding-left: 110px;
    }

.menu-trigger {
    display: none; 
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

    .menu-trigger span {
        background-color: #FFA500;
        padding: 5px 10px;
        border-radius: 5px;
    }
}


/* ***** Menu Responsive Fin - Parte del header area ***** */
/* ***** Header Area Fin ***** */

/* ***** Main Banner Area inicio ***** */
.main-banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#bg-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-text {
    color: white;
}

.caption h6 {
    font-size: 1.0rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 2s forwards 1s;
}

.caption h2 {
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards 2s;
}

.caption h2 em {
    color: #70b020;
    font-style: normal;
}


.main-button.scroll-to-section {
    opacity: 0;
    animation: fadeIn 2s forwards 3s;
}

.main-button.scroll-to-section a {
    background-color: #8A70B0;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.main-button.scroll-to-section a:hover {
    background-color: #4f3576;
}

/*Animación que hace que un elemento aparezca de manera suave*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ajustes para pantallas medianas */
@media (max-width: 1024px) {
    .main-banner {
        height: auto; 
    }

    #bg-image {
        width: 100%;
        height: auto; 
        object-fit: cover; 
        object-position: center; 
    }

    .image-overlay {
        position: absolute; /* Asegúrate de que esté en posición absoluta */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex; /* Usar flexbox */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        text-align: center;
        z-index: 1; /* Asegurarte de que esté por encima de la imagen */
        color: white; /* Color del texto */
    }

    .caption h2,
    .caption h6 {
        opacity: 1; 
        animation: none; /* Desactivar la animación para que aparezca de inmediato */
    }

    .main-button.scroll-to-section {
        opacity: 1; 
        animation: none; 
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .main-banner {
        height: auto; 
    }
    .image-overlay {
        position: absolute; /* Asegúrate de que esté en posición absoluta */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex; 
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        text-align: center;
        z-index: 1; 
        color: white; 
    }

    #bg-image {
        width: 100%;
        height: auto;
        object-fit: cover; 
        object-position: center; 
    }

    .caption h2 {
        font-size: 0.7rem; 
    }

    .caption h6 {
        font-size: 0.4rem; /* Ajustar tamaño de texto para pantallas pequeñas */
    }

    .main-button.scroll-to-section a {
        font-size: 0.7rem; /* Reducir tamaño de texto del botón */
    }
}
/* ***** Main Banner Area fin ***** */


/* ***** El inicio de nuestra historia Inicio ***** */
.mb-4 h5 {
    font-size: 35px;
    font-weight: bold;
}

.text-primary {
    color: #8A70B0 !important; 
}

.rounded {
    border-radius: 15px; 
}

/* Estilos para el cuadro del texto "Ayudar a personas que se..." */
.text-cuadro {
    background-color: rgba(138, 112, 176, 0.1); /* Fondo suave */
    border: 1px solid #8A70B0; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px 0; 
}

/* Para pantallas medianas */
@media (max-width: 991px) {
    #nosotros {
        padding: 3rem;
    }
    .image-container {
        min-height: 300px;
    }
    h1 {
        font-size: 1.75rem;
    }
    h5 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
}

/*Para pantallas pequeñas*/
@media (max-width: 576px) {
    #nosotros {
        padding: 2rem;
    }
    .image-container {
        min-height: 200px;
    }
    h1 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1rem;
    }
    p {
        font-size: 0.9rem;
    }
}

.rounded {
    border-radius: 10px;
}
/* ***** El inicio de nuestra historia Fin ***** */

/* ***** Nuestro equipo inicio ***** */
.titulo {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px; /* Aumenta el espacio debajo del título */
    color: #8A70B0;
}


.bg-light p {
    color: #666; /* Color del texto dentro de cada tarjeta */
}

/* Estilos para pantallas grandes (desktops) */
@media (min-width: 1200px) {
    .bg-light {
        padding: 30px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}

/* Estilos para los íconos de las tarjetas */
.mi-icono, .mi-icono1, .mi-icono2 {
    display: inline-block; /* Permitir que los íconos se alineen correctamente */
    width: 200px; 
    height: 200px; 
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; 
}


.mi-icono {
    background-image: url('../imagenes/entrenador.jpg'); /* Imagen del ícono del entrenador */
}


.mi-icono1 {
    background-image: url('../imagenes/recepcionista.jpg'); /* Cambiar imagen para el recepcionista */
}


.mi-icono2 {
    background-image: url('../imagenes/nutricionista.jpg'); /* Cambiar imagen para la persona */
}

/* Para pantallas medianas */
@media (max-width: 768px) {
    .titulo {
        font-size: 24px;
    }

    .bg-light {
        padding: 15px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 18px;
        margin: 10px 0;
    }

    p {
        font-size: 14px;
    }
}

/* Mejorar los márgenes entre elementos en pantallas medianas */
@media (min-width: 768px) and (max-width: 1200px) {
    .bg-light {
        margin-bottom: 25px;
        padding: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

/* Ajustes para pantallas  pequeñas*/
@media (max-width: 576px) {
    .titulo {
        font-size: 20px;
    }

    .bg-light {
        padding: 10px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 16px;
        margin: 8px 0;
    }

    p {
        font-size: 12px;
    }
}
/* ***** Nuestro equipo fin ***** */

/* ***** Horario Inicio ***** */
.schedule-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 30px;
    max-width: 1300px; /* Tarjeta más grande */
    margin: 40px auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.schedule-info {
    flex: 2;
    padding-right: 30px;
}

.schedule-info h2 {
    font-size: 32px; /* Título más grande */
    color: #8A70B0;
    margin-bottom: 20px;
}

.schedule-info ul {
    list-style: none;
    padding: 0;
}

.schedule-info li {
    font-size: 22px; /* Texto más grande */
    margin-bottom: 15px;
}

.schedule-info strong {
    color: #FFA500;
}

.schedule-info p {
    font-size: 18px; /* Texto adicional para escribir más detalles */
    color: #555;
    margin-top: 20px;
}

.schedule-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-image img {
    max-width: 850px; /* Imagen más grande */
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Efecto hover en la tarjeta completa */
.schedule-card:hover {
    transform: translateY(-10px); /* Mueve ligeramente hacia arriba */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover en la imagen */
.schedule-image img:hover {
    transform: scale(1.05); /* Agranda la imagen */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa en la imagen */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos para pantallas medianas (tablets) */
@media (max-width: 992px) {
.schedule-card {
    flex-direction: column;
    padding: 20px;
}

.schedule-info {
    padding-right: 0;
    text-align: center;
}

.schedule-info h2 {
    font-size: 28px;
}

.schedule-info li {
    font-size: 20px;
}

.schedule-info p {
    font-size: 16px;
}

.schedule-image img {
    max-width: 700px; 
}
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
.schedule-card {
    flex-direction: column;
    padding: 15px;
}

.schedule-info {
    padding-right: 0;
    text-align: center;
}

.schedule-info h2 {
    font-size: 24px;
}

.schedule-info li {
    font-size: 18px;
}

.schedule-info p {
    font-size: 14px;
}

.schedule-image img {
    max-width: 100%; /* Imagen ocupa todo el ancho disponible */
    border-radius: 8px;
}
}
/* ***** Horario fin ***** */

/* ***** Testimonios inicio ******* */

.testimonial-item {
    padding: 30px; /* Padding interno */
    border-radius: 10px; /* Bordes redondeados */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    box-shadow: 0 4px 20px #8a70b067; /* Sombra suave */
    transition: transform 0.3s ease; /* Transición suave */
    margin: 15px; /* Margen entre testimonios */
    
}

.schedule-card .text-light h2.display-5 {
    color: #FFA500; /* Cambia este valor por el color que prefieras */
}

.testimonial-item:hover {
    transform: scale(1.05); /* Aumentar ligeramente al pasar el mouse */
}

img.rounded-circle {
    width: 60px; /* Ancho de la imagen del cliente */
    height: 60px; /* Alto de la imagen del cliente */
    position: absolute; /* Posicionamiento absoluto */
    border: 2px solid #FFA500; /* Borde azul alrededor de la imagen */
}

.ps-4 h5 {
    margin: 0; /* Eliminar margen por defecto */
    font-size: 1.25em; /* Tamaño del nombre del cliente */
    color: #8A70B0; /* Color claro */
    text-align: left; /* Alinear a la izquierda */
    padding-left: 80px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .testimonial-item {
        flex-direction: column; /* Cambiar a una columna en pantallas pequeñas */
        align-items: flex-start;
        text-align: center; 
        padding: 20px; 
    }

    img.rounded-circle {
        margin-bottom: 10px; 
    }

    .ps-4 h5 {
        font-size: 1.1em; 
    }
}
/* Testimonios fin */

/* ---------------------------------------------- */
/* Inicio Fin */
/* ---------------------------------------------- */



/* ---------------------------------------------- */
/* Nosotros Inicio */
/* ---------------------------------------------- */
.custom-card {
    border: none;
    border-radius: 15px;
    background: linear-gradient(145deg, #333232, #000000);
    padding: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin: 10px; /* Espacio entre las tarjetas */
}

.row {
    display: flex;
    flex-wrap: wrap; /* Permitir que las tarjetas se ajusten en la fila */
    justify-content: space-between; /* Espacio entre tarjetas */
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.custom-card::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(112, 176, 32, 0.2);
    border-radius: 50%;
    top: -50px;
    right: -50px;
    z-index: 1;
}

.custom-card::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(112, 176, 32, 0.2);
    border-radius: 50%;
    bottom: -30px;
    left: -30px;
    z-index: 1;
}

.card-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    color: #8A70B0;
    text-transform: uppercase;
}

.card-text {
    font-size: 1rem;
    line-height: 1.8;
    color: #ffffff;
    z-index: 2;
    position: relative;
    text-align: justify;
}

/* Media Queries */
@media (max-width: 768px) {
    .custom-card {
        margin: 10px 0; 
        width: calc(100% - 20px); 
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .custom-card {
        margin-bottom: 20px; 
        flex: 0 0 48%; 
        max-width: 48%; 
    }
}

/*Video*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------- */
/* Nosotros Fin */
/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* Banner en los HTML Inicio */
/* ---------------------------------------------- */
.bg-blog,
.bg-servicios {
    background: linear-gradient(rgba(34, 36, 41, .8), rgba(34, 36, 41, .8)), url(../imagenes/bannerBlog.jpg) top center no-repeat;
    background-size: cover;
    width: 100%; /* Ancho completo */
    height: 300px; /* Altura fija */
    overflow: hidden; /* Oculta el desbordamiento */
    position: relative; /* Permite que el pseudo-elemento se posicione correctamente */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .bg-blog,
    .bg-servicios {
        height: 200px; /* Altura ajustada para pantallas pequeñas */
    }
    
    h1.display-2 {
        font-size: 2.5rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .bg-blog,
    .bg-servicios {
        height: 250px; /* Altura ajustada para pantallas medianas */
    }
    
    h1.display-2 {
        font-size: 3.5rem; /* Ajusta el tamaño de fuente para pantallas medianas */
    }
}

@media (min-width: 992px) {
    h1.display-2 {
        font-size: 4.5rem; /* Tamaño de fuente en pantallas grandes */
    }
}
/* ---------------------------------------------- */
/* Banner en los HTML Fin */
/* ---------------------------------------------- */



/* ---------------------------------------------- */
/* Servicios Inicio */
/* ---------------------------------------------- */
.col-md-6 {
    display: flex; /* Habilita el uso de flexbox en cada columna */
    justify-content: center; /* Centra las tarjetas dentro de la columna */
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .col-12 {
        margin-bottom: 20px; /* Añade espacio inferior entre las filas en pantallas pequeñas */
    }
}

.card {
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Esconde el contenido que se salga */
    transition: transform 0.3s ease; /* Efecto de transformación */
    margin: 10px; /* Margen alrededor de la tarjeta */
    max-width: 100%; /* Ancho máximo de la tarjeta para que ocupe el 100% de su contenedor */
    box-shadow: 0 2px 8px rgba(48, 44, 44, 0.1); /* Sombra sutil */
    background-color: #000; /* Fondo negro para toda la tarjeta */
    color: #fff; /* Color de texto blanco por defecto */
}

.card:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
}

.card-body {
    padding: 15px; /* Espaciado interno */
}

.category {
    font-weight: bold; /* Texto en negrita */
    color: #8A70B0; /* Color de la categoría (morado) */
    font-size: 1.1em; /* Tamaño de fuente */
}

.heading {
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
    color: #fff; /* Color de texto blanco para el encabezado */
    margin-top: 8px; /* Margen superior */
}

/* Ajustes para pantallas medianas */
@media (min-width: 768px) and (max-width: 992px) {
    .card {
        max-width: 90%; /* Permitir un poco de margen en pantallas medianas */
    }
}

/* Ajustes para pantallas grandes */
@media (min-width: 992px) {
    .card {
        max-width: 300px; /* Mantener el ancho máximo en pantallas grandes */
    }
}

/* ---------------------------------------------- */
/* Servicios Fin */
/* ---------------------------------------------- */


/* ***** Contacto Inicio ***** */
h1 {
    color: #FFA500; 
}

/* Card Styles */
.d-flex {
    background-color: #343a40; 
}

.d-flex .bg-primary {
    background-color: #FFA500;
}

.text-secondary {
    color: #e7e7e7; 
}

/* Form Styles */
.form-control {
    background-color: #ffffff; 
    border: 1px solid #FFA500; 
    border-radius: 5px; 
}

.form-control::placeholder {
    color: #a9b1b8; 
}

/* Button Styles */
.btn-primary {
    background-color: #FFA500; /* Orange button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
}

.btn-primary:hover {
    background-color: #e59400; /* Darker orange on hover */
}

/* General Styles */
.container-contactos {
    max-width: 1200px;
    margin: auto;
}

/* Styles for icons */
.bg-primary {
    background-color: #8A70B0 !important;
}

/* Map styles */
iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-primary {
    color: #70b020 !important;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem; /* Responsive font size for heading */
    }

    .form-control {
        height: 50px; /* Adjust input height for smaller screens */
    }

    .d-flex {
        margin-bottom: 1.5rem; /* Space between cards on smaller screens */
    }
}
/* ***** Contacto Fin ***** */


/* ***** Partipantes Acerca Inicio ***** */
.card-img-top {
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #70b020;
}
/* ***** Partipantes Acerca Fin ***** */






/* ***** Footer Inicio ***** */
.footer {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.93);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column;
    text-align: center; /* Centra el texto */
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
    color: #FFA500;
}

.tooltip {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.social-icon__link:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: center; /* Asegura que el texto esté centrado */
}

ion-icon {
    pointer-events: none;
}

/* Footer para pantallas pequeñas */
@media (max-width: 768px) {
    .footer {
        padding: 15px 30px;
        flex-direction: column; /* Asegura que los elementos se alineen verticalmente */
    }

    .social-icon__link {
        font-size: 2rem; /* Ajusta el tamaño de los íconos */
        padding-right: 40px;
    }

    .tooltip {
        font-size: 0.7rem; /* Ajusta el tamaño del texto del tooltip */
    }

    .footer p {
        font-size: 0.85rem;
        margin-top: 10px;
    }
}

/* ***** Footer Fin ***** */

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}